<template>
    <div>
        <h2>List Post Items</h2>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <router-link :to="{ name: 'PostCreate' }" class="btn btn-primary">Create Post</router-link>
            </div>
        </div><br />

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Post Title</th>
                <th><span class="float-right">Operations</span></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="post in posts" :key="post.id">
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>
                    <div class="btn-group float-right" role="group">
                        <router-link :to="{name: 'PostEdit', params: { id: post.id }}" class="btn btn-primary">Edit</router-link>
                        <button class="btn btn-danger" @click.prevent="deletePost(post.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                posts: []
            }
        },
        created() {
            let uri = '/admin/post/api';
            this.axios.get(uri).then(response => {
                this.posts = response.data;
            });
        },
        methods: {
            deletePost(id)
            {
                let uri = `/admin/post/api/${id}`;
                this.axios.delete(uri).then(response => {
                    for (var i = 0; i < this.posts.length; i++) {
                        if (this.posts[i].id === id) {
                            this.posts.splice(i, 1);
                        }
                    }
                });
            }
        }
    }
</script>